# Python compiled files
*.pyc
__pycache__/

# Virtual environment folders
venv/
.env/

# Django database file
db.sqlite3

# Logs
*.log

# VS Code settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db
